:root {
  margin:0
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg.light {
  filter: none;
  user-select: none;

}
.svg.dark {
  filter: invert(1) brightness(2);
  user-select: none;

}
.home {
  display: flex;
  top: 0;
  left: 0;
  font-family: 'Outfit', cursive;
  width: 100%;
  height: max(100dvh,1000px);


  justify-content: center;
  text-align: center;


}
.home.light {
  background-image: url('/paperbg.jpg');
  background-size: cover;
  color: black;
}

.home.dark {
  background-color: black;
  background-image: none;
  color: white;
}


.home_container {
  background-color: #25b811;
  width: auto;
  justify-content: center;

}



.header_container{
  width:50%;
  margin-inline:25%;
}
@media (max-width: 480px){
  .header_container{
    width: 100%;
    margin-inline: 0;
  }

}
@media (min-width: 481px) and (max-width: 1024px) {
  .header_container{
    width: 80%;
    margin-inline: 10%;
  }
}


.welcometext {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: clamp(1rem, 10dvw, 8rem);
  text-align: left;
}
.line_container {
  margin-top: clamp(0.5rem, 3dvw, 3rem);
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: left;
  width:600px;
}
.line {
  margin-top: -2rem;
  justify-content: center;


}
.lineLabel{
  color:rgb(105, 99, 99);
  
  

}
.name{
  font-family: 'caveat', cursive;
  font-size: 4.2rem;
  
}
.description {
  margin-top: clamp(0.5rem, 1dvw, 2rem);
  text-align: left;
  font-family: 'Outfit';
  font-size: 2rem;
  width: 500px;
  height: auto;

}

.regalContainer{
  margin-top: clamp(0.1rem, 3dvw, 3rem);
  width: 100%;




}
.regalinhalt{
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -0.6rem


}
.regalinhaltLinks{
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
  width: auto;
  gap:20px;
 

}

.regalinhaltRechts{
  margin-right: 40px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: flex-end;
  


}

.buecher {
  display: flex;
  align-items: flex-end;
  justify-content:center;
  width: 100px;
  



}
.buch1{
  margin-right: -20px;
  
}
.buch3{
  margin-left: -20px;
  display: flex;
  align-items: flex-end;

  transition:0.3s ease-in;
  
}

.buch3.frozen{
  transform: rotate(100deg) translate(15px, -30px);
}


.buch1,.buch2,.buch3{
  flex-grow: 0; 
  display: flex;
  align-items: flex-end;

}
.bild_container {
  display: flex;
  align-items: flex-end;

}
.bild_container:hover .bild1 {
  display: none;
}
.bild_container:hover .bild2 {
  display: block;
}
.bild1{
  display:block;
}
.bild2{
  display: none;
}
.blume {
  display: flex;
  align-items: flex-end;
  margin-bottom: -0.25rem;;
}
.regal{
  border: rgb(109, 102, 102) 3px solid;
  border-radius:5px;
  width: 100%;
  height:20px;
  
}
.brief{
  height:60px;
  width: 100px;
  display: flex;
  align-items: flex-end;
}
.brief:hover .briefOffen{
  display: block;
}
.briefGeschlossen{
  display: block;
}
.brief:hover .briefGeschlossen{
  display: none;
}

.briefOffen{
  display: none;
}
.Lampe_container{
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.lampeVoll.dark{
  filter: invert(1) brightness(2);
}
.lampeVoll.light{
  display: none;
}
.lampe.dark{
  display: none;
}


